@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .scrollbar {
    scrollbar-width: thin; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  .scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
